In [28]:
import pandas as pd
import pymysql

df = pd.read_excel("CovidDeaths.xlsx")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85166,ZWE,Africa,Zimbabwe,2021-04-26,38102.0,16.0,34.714,1560.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85167,ZWE,Africa,Zimbabwe,2021-04-27,38164.0,62.0,41.286,1565.0,5.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85168,ZWE,Africa,Zimbabwe,2021-04-28,38191.0,27.0,30.143,1565.0,0.0,1.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85169,ZWE,Africa,Zimbabwe,2021-04-29,38235.0,44.0,31.000,1567.0,2.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85170,ZWE,Africa,Zimbabwe,2021-04-30,38257.0,22.0,30.286,1567.0,0.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [33]:
df[~df.continent.isna()][['location', 'date', 'total_cases', 'new_cases', 'total_deaths', 'population']].sort_values(by=['location', 'date'])

,location,date,total_cases,new_cases,total_deaths,population
0,Afghanistan,2020-02-24,1.0,1.0,NaN,38928341.0
1,Afghanistan,2020-02-25,1.0,0.0,NaN,38928341.0
2,Afghanistan,2020-02-26,1.0,0.0,NaN,38928341.0
3,Afghanistan,2020-02-27,1.0,0.0,NaN,38928341.0
4,Afghanistan,2020-02-28,1.0,0.0,NaN,38928341.0
...,...,...,...,...,...,...
85166,Zimbabwe,2021-04-26,38102.0,16.0,1560.0,14862927.0
85167,Zimbabwe,2021-04-27,38164.0,62.0,1565.0,14862927.0
85168,Zimbabwe,2021-04-28,38191.0,27.0,1565.0,14862927.0
85169,Zimbabwe,2021-04-29,38235.0,44.0,1567.0,14862927.0
85170,Zimbabwe,2021-04-30,38257.0,22.0,1567.0,14862927.0

In [54]:
# Total Cases vs Total Deaths
temp = df[(~df.continent.isna())][['location', 'date', 'total_cases', 'total_deaths']]
temp['DeathPercentage'] = (temp.total_deaths / temp.total_cases)*100
temp

          location       date  total_cases  total_deaths  DeathPercentage
0      Afghanistan 2020-02-24          1.0           NaN              NaN
1      Afghanistan 2020-02-25          1.0           NaN              NaN
2      Afghanistan 2020-02-26          1.0           NaN              NaN
3      Afghanistan 2020-02-27          1.0           NaN              NaN
4      Afghanistan 2020-02-28          1.0           NaN              NaN
...            ...        ...          ...           ...              ...
85166     Zimbabwe 2021-04-26      38102.0        1560.0         4.094273
85167     Zimbabwe 2021-04-27      38164.0        1565.0         4.100723
85168     Zimbabwe 2021-04-28      38191.0        1565.0         4.097824
85169     Zimbabwe 2021-04-29      38235.0        1567.0         4.098339
85170     Zimbabwe 2021-04-30      38257.0        1567.0         4.095982

[81060 rows x 5 columns]

In [59]:
# Total Cases vs Population
temp = df[(~df.continent.isna())][['location', 'date', 'population', 'total_cases']]
temp['PercentPopulationInfected'] = temp.apply(lambda x: x + 1)
temp

TypeError: can only concatenate str (not "int") to str